.item{
    display: flex;
  justify-content: space-between;
  background: #f5f5f5;
  padding: 10px;
  margin: 15px;
  color: #545454;
  font-weight: 500;
  font-size: 0.9rem;
  border-radius: 7px;
  text-align: left;
}
.item p{
    flex-basis: 0;
    flex-grow: 1;
}
.trash{
    background: #d82626;
  font-size: 16px;
  cursor: POINTER;
  border: none;
  color: white;
  padding: 5px 5px;
  border-radius: 8px;
  display: inline-block;
}
.icon{
    background: white;
  padding: 4px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 3px;
  font-size: 15px;
}